@font-face {
    font-family: blocky;
    src: url(../fonts/blocky.ttf);
}

body {
    margin: 0;
}

#main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
}

header{
  padding: 30px 0;
  margin-bottom: 30px;
}

header, .content-summary, .content-detail{
  border: 1px solid gray;
}

header h1{
  margin: 0 0 10px 0;
  font-size: 5em;
}

.main-bg-logo{
  position: fixed;;
  right: 40vw;
  top: 20vh;

}

.lfz{
  width: 15%;
  float: right;
  margin-right: 20px;
}
.nav-type{
  margin-bottom: 0;
}

.nav-type>li{
  list-style-type: none;
  padding: 5px;
  border: 1px solid #00000080;
}


.rotate {
    animation: spin 10s linear infinite;
}

.content-summary{
  padding: 10px;
}

.content-summary > button{
  cursor: pointer;
}

.fa-expand{
  float: right;
  margin: 5px;
  border: 1px solid black;
  padding: 8px;
  transform: rotateX(180deg);
  cursor: pointer;
}

.fa-expand:hover{
  animation: enlarge 2s linear infinite;
}

@keyframes enlarge {
  0%{
    font-size: 0.5em
  },
  50%{
    font-size: 1em
  },
  100%{
    font-size: 1.5em
  }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
