@font-face {
    font-family: blocky;
    src: url(../fonts/blocky.ttf);
}

header{
  padding: 30px 0 20px 0;
  margin-bottom: 30px;
  border: 1px solid aliceblue;
  border-radius: .5rem;
}

header h1{
  font-family: blocky;
  margin: 0 0 10px 0;
  font-size: 5em;
  color: aliceblue;
}

.lfz{
  width: 100%;
  margin-right: 20px;
  text-align: right;
}
.lfz>img{
  width: 50px;
}

.lfz>a{
  text-decoration: none;
  color: darkblue;
}

@media (max-width: 774px) {
  header h1{
    font-size: 2em;
  }
}
